@font-face {
    font-family: "Averta";
    src: url("~@/assets/fonts/Averta/Averta-Regular.woff"), url("~@/assets/fonts/Averta/Averta-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Averta";
    src: url("~@/assets/fonts/Averta/Averta-SemiBold.woff"), url("~@/assets/fonts/Averta/Averta-SemiBold.ttf");
    font-style: bold;
    font-weight: 700;
}